<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- Page Title -->
    <title>FORESE - MOCK PLACEMENTS 2021 | STUDENT INCHARGE</title>
  </head>
  <body>
    <!-- Include Navbar Partial -->
    <%- include("../partials/navbar.ejs"); %>

    <!-- Container Class Begins -->
    <main class="container">
      <!-- Flash Message Partial -->
      <div class="mt-2"><%- include("../partials/flash.ejs") %></div>

      <!-- Incharge Info -->
      <h3>Student Incharge Name : <%= user.name %></h3>
      <h3>Interviewer You Are Incharge For : <%= user.interviewer.name %></h3>
      <h3>Interviewer Company : <%= user.interviewer.company %></h3>

      <!-- Add Student Button -->
      <button class="btn btn-primary mb-3 px-4" data-toggle="modal" data-target="#addStudent">Add Student</button>

      <table class="table table-bordered table-hover text-center" id="students">
        <thead class="bg-light">
          <tr>
            <th>SNO</th>
            <th>Register Number</th>
            <th>Name</th>
            <th>Department</th>
            <th>Aptitude Score</th>
            <th>GD Score</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% user.interviewer.students.forEach((student, index) => { %>
          <tr>
            <% const sumOfValues = (obj) => Object.values(obj).reduce((a, b) => a + b) %>
            <td><%= index + 1 %></td>
            <td><%= student.register_num %></td>
            <td><%= student.name %></td>
            <td><%= student.dept %></td>
            <td><%= sumOfValues(student.aptitude_scores) %> / 50</td>
            <td><%= sumOfValues(student.gd_scores) %> / 30</td>
            <td>
              <form
                action="/incharges/<%= user.interviewer._id %>/deallocate_student/<%= student._id %>"
                method="POST"
                class="d-inline"
              >
                <input type="hidden" name="_method" value="PUT" />
                <button type="submit" class="btn btn-sm btn-warning">Deallocate Student</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>

    <!-- Include Footer Partial -->
    <%- include("../partials/footer.ejs"); %>

    <!-- Assign a student to an interviewer -->
    <%- include("./modals/add.ejs") %>
  </body>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- PopperJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- BootstrapJS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- DataTablesJS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

  <!-- DataTables for Bootstrap -->
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

  <!-- Script for Form Validation -->
  <script src="/js/validateForms.js"></script>

  <!-- Initialize Datatables -->
  <script>
    $(document).ready(function () {
      $('#students').DataTable({ paging: false });
    });
  </script>
  <!-- Script to validate forms -->
  <script src="/js/validateForms.js"></script>
</html>
