<!-- Assign Student Modal -->
<div class="modal fade" id="addStudent">
  <div class="modal-dialog form-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form method="POST" action="/users/<%= user._id %>/assign_student">
          <label><b>Select Students (Press Ctrl while clicking to select multiple students)</b></label>
          <select name="students" class="form-control" size="18" multiple>
            <% students.forEach(student => { %>
              <% if(student.preference === "Online") { %>
                <% if(!student.interviewers.includes(user._id)) { %>  
                  <option value="<%= student._id %>">
                    <%= student.register_num %> - <%= student.name %> (<%= student.dept %>)
                  </option>
                <% } %> 
              <% } %> 
            <% }); %>
          </select>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Assign Student(s)</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
