<% layout("layouts/boilerplate") -%>

<main class="container">
  <div class="mt-2"><%- include("../partials/flash.ejs") %></div>
  <button class="btn btn-primary mb-3 px-4" data-toggle="modal" data-target="#addStudent">Add Student</button>
  <table class="table table-bordered table-hover text-center">
    <thead class="bg-light">
      <tr>
        <th>SNO</th>
        <th>Name</th>
        <th>Department</th>
        <th>Aptitude Score</th>
        <th>GD Score</th>
        <th>Student Details</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <% user.students.forEach((student, index) => { %>
      <tr>
        <% const sumOfValues = (obj) => Object.values(obj).reduce((a, b) => a + b) %>
        <td><%= index + 1 %></td>
        <td><%= student.name %></td>
        <td><%= student.dept %></td>
        <td><%= sumOfValues(student.aptitude_scores) %> / 50</td>
        <td><%= sumOfValues(student.gd_scores) %> / 30</td>
        <td><a href="/students/<%= student._id %>">View</a></td>
        <td>
          <button
            class="btn btn-secondary btn-sm rate-student"
            data-user="<%= user._id %>"
            data-student="<%= student._id %>"
            data-toggle="modal"
            data-target="#rateStudent"
          >
            Rate Student
          </button>
          <form action="/users/<%= user._id %>/deallocate_student/<%= student._id %>" method="POST" class="d-inline">
            <input type="hidden" name="_method" value="PUT" />
            <button type="submit" class="btn btn-sm btn-warning">Deallocate Student</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</main>

<%- include("./modals/add.ejs") %> <%- include("./modals/rate.ejs") %>
