<% layout("layouts/boilerplate") -%>

<main class="container">
  <% if(students && students.length) { %>
  <table class="table table-bordered table-hover" id="students">
    <thead class="bg-light">
      <tr>
        <th>SNO</th>
        <th>Register Number</th>
        <th>Name</th>
        <th>Department</th>
        <th>Section</th>
        <th>Preference</th>
        <th>Aptitude Score</th>
        <th>GD Score</th>
        <th>Interviews</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach((student, index) => { %>
      <tr>
        <% const sumOfValues = (obj) => Object.values(obj).reduce((a, b) => a + b) %>
        <td><%= index + 1 %></td>
        <td class="text-center"><%= student.register_num %></td>
        <td><%= student.name %></td>
        <td class="text-center"><%= student.dept %></td>
        <td class="text-center"><%= student.section %></td>
        <td><%= student.preference %></td>
        <td><%= sumOfValues(student.aptitude_scores) %> / 50</td>
        <td><%= sumOfValues(student.gd_scores) %> / 30</td>
        <td class="text-center"><%= interviewsPerStudent[student._id] %></td>
        <td><a href="/students/<%= student._id %>">View</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <p>You have not created any students yet.</p>
  <% } %>
</main>
