<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- Page Title -->
    <title>SCORES | MOCK PLACEMENTS 2021</title>
  </head>

  <body>
    <!-- Include Navbar Partial -->
    <%- include("../partials/navbar.ejs"); %>

    <main class="container">
      <table class="table table-bordered table-hover text-center" id="scores">
        <thead>
          <th>SNO</th>
          <th>Register Number</th>
          <th>Student Name</th>
          <th>Interviewer Name</th>
          <th>Interviewer Company</th>
          <th>Comments</th>
        </thead>
        <tbody>
          <% scores.forEach((score, index) => { %>
          <tr>
            <td><%= index + 1%></td>
            <td><%= score.student.register_num %></td>
            <td><%= score.student.name %></td>
            <td><%= score.interviewer.name %></td>
            <td><%= score.interviewer.company %></td>
            <td><%= score.comments %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>

    <!-- Include Footer Partial -->
    <%- include("../partials/footer.ejs"); %>
  </body>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- PopperJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- BootstrapJS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- DataTablesJS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

  <!-- DataTables for Bootstrap -->
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

  <!-- Script for Form Validation -->
  <script src="/js/validateForms.js"></script>

  <!-- Initialize Datatables -->
  <script>
    $('#scores').DataTable({ paging: false });
  </script>
</html>
