<% layout("layouts/boilerplate") -%>

<main class="container">
  <nav class="mb-3">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-toggle="tab" href="#mocks20" role="tab"
        >20<sup>th</sup> February, 2021</a
      >
      <a class="nav-item nav-link" data-toggle="tab" href="#mocks21" role="tab">21<sup>st</sup> February, 2021</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="mocks20" role="tabpanel">
      <button class="btn btn-primary mt-4 mb-3" data-toggle="modal" data-target="#newInterviewer">
        Add New Interviewer
      </button>

      <%- include("../partials/flash.ejs") %>

      <table class="table table-bordered table-hover" id="interviewers">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Students Assigned</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <% interviewers.forEach((interviewer, index) => { interview_date = new Date(interviewer.interview_date); %> <%
          if(interview_date.getDate() == 20) { %>
          <tr>
            <td><%= interviewer.name %></td>
            <td><%= interviewer.company %></td>
            <td><%= studentsPerInterviewer[interviewer._id] %></td>
            <td>
              <a href="/interviewers/<%= interviewer._id %>" class="btn btn-sm btn-secondary">View</a>
              <button class="btn btn-sm btn-warning">Edit</button>
              <form action="/interviewers/<%= interviewer._id %>" method="POST" class="d-inline">
                <input type="hidden" name="_method" value="DELETE" />
                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="mocks21" role="tabpanel">
      <button class="btn btn-primary mt-4 mb-3" data-toggle="modal" data-target="#newInterviewer">
        Add New Interviewer
      </button>
      <%- include("../partials/flash.ejs") %>
      <table class="table table-bordered table-hover" id="interviewers">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Students Assigned</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <% interviewers.forEach((interviewer, index) => { interview_date = new Date(interviewer.interview_date); %> <%
          if(interview_date.getDate() == 21) { %>
          <tr>
            <td><%= interviewer.name %></td>
            <td><%= interviewer.company %></td>
            <td><%= studentsPerInterviewer[interviewer._id] %></td>
            <td>
              <a href="/interviewers/<%= interviewer._id %>" class="btn btn-sm btn-secondary">View</a>
              <button class="btn btn-sm btn-warning">Edit</button>
              <form action="/interviewers/<%= interviewer._id %>" method="POST" class="d-inline">
                <input type="hidden" name="_method" value="DELETE" />
                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</main>

<%- include("./modals/new.ejs") %> <%- include("./modals/edit.ejs") %>
